<template>
  <div>
    <section class="section">
      <div class="columns">
        <div class="column is-half">
          <img
            :src="product.img"
            alt=""
          >
        </div>
        <div class="product-details column is-half">
          <h1 class="title is-spaced">
            {{ product.shortName }}
          </h1>
          <p class="product-price subtitle has-text-primary">
            {{ product.price | price }}
          </p>
          <p class="has-text-dark mb-4">
            <span>Age :</span>
            <span class="has-text-weight-bold">{{ product.age }}</span>
            <span> ans</span>
          </p>
          <p class="has-text-dark mb-4">
            <span>Taille :</span>
            <span class="has-text-weight-bold">{{ product.height }}</span>
            <span> cm</span>
          </p>
          <div class="cart-button mt-5">
            <b-button
              :class="addedToCart ? 'has-text-white' : 'has-text-dark'"
              :icon-left="addedToCart ? '' : 'plus'"
              :type="addedToCart ? cartButtonHoverState.type : '' "
              @click="cartButtonHandler()"
              @mouseenter="cartButtonHover = true"
              @mouseleave="cartButtonHover = false"
            >
              {{ addedToCart ? cartButtonHoverState.text : 'Ajouter au panier' }}
            </b-button>
          </div>
        </div>
      </div>
    </section>
  </div>
</template>

<script>
export default {
  name: 'ProductSingle',
  validate ({ params, store }) {
    // Must be a number
    const isNumber = /^\d+$/.test(params.id)

    // Must be an existing product in store
    const existingProduct = store.state.products.products.some(product => product.id === parseInt(params.id))

    return (isNumber && existingProduct)
  },
  async fetch () {
    this.product = await this.$store.dispatch('products/getProductById', {
      id: this.id
    })
  },
  data () {
    return {
      id: this.$route.params.id,
      product: {},
      cartButtonHover: false
    }
  },
  computed: {
    addedToCart () {
      const cartProducts = this.$store.getters['cart/getCartProducts']
      return cartProducts.some(product => product.id === parseInt(this.id))
    },
    // Change cart button label and type on hover
    cartButtonHoverState () {
      let hoverState = {}
      if (this.cartButtonHover && this.addedToCart) {
        hoverState = {
          type: 'is-danger',
          text: 'Supprimer'
        }
      } else {
        hoverState = {
          type: 'is-primary',
          text: 'Ajouté'
        }
      }
      return hoverState
    }
  },
  methods: {
    addToCart () {
      this.$store.commit('cart/pushProductToCart', this.product)
    },
    removeFromCart () {
      this.$store.commit('cart/removeProductFromCart', this.product)
    },
    cartButtonHandler () {
      if (this.addedToCart) {
        this.removeFromCart()
      } else {
        this.addToCart()
      }
    }
  }
}
</script>

<style scoped lang="scss">

.product-details {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.product-price {
  font-size: 1.75rem;
  letter-spacing: 1px;
}
.cart-button button {
  min-width: 12rem;
}
</style>
