<template>
  <div class="container">
    <section class="section py-5">
      <div class="columns">
        <div class="column is-half">
          <b-field>
            <b-input
              v-model="search"
              placeholder="Rechercher..."
              type="search"
              icon="magnify"
              size="is-small"
            />
          </b-field>
        </div>
        <div class="column is-half">
          <b-field
            grouped
            position="is-right"
          >
            <filter-range-dropdown
              name="Prix"
              unit="€"
              :step="10"
              class="ml-3 mr-0"
              :range="priceRange"
              :range-limits="priceRangeLimits"
              @input="(newPriceRange) => {priceRange = newPriceRange}"
            />
            <filter-range-dropdown
              name="Taille"
              unit="cm"
              class="ml-3 mr-0"
              :range="heightRange"
              :range-limits="heightRangeLimits"
              @input="(newHeightRange) => {heightRange = newHeightRange}"
            />

            <b-dropdown
              class="ml-3 mr-0"
              aria-role="list"
            >
              <button
                slot="trigger"
                slot-scope="{ active }"
                class="button is-small"
              >
                <span>
                  Espèces
                </span>
                <b-icon
                  :icon="active ? 'chevron-up' : 'chevron-down'"
                  size="is-small"
                />
              </button>
              <div class="px-4 py-1">
                <div
                  v-for="speciesItem in species"
                  :key="speciesItem.id"
                  :value="speciesItem.id"
                  class="field"
                >
                  <b-checkbox
                    v-model="speciesCheckbox"
                    :native-value="speciesItem.id"
                    class="is-size-7"
                  >
                    {{ speciesItem.name }}
                  </b-checkbox>
                </div>
              </div>
            </b-dropdown>

            <b-field class="ml-3 mr-0">
              <b-select
                v-model="sortSelect"
                placeholder="Trier par"
                size="is-small"
              >
                <option value="pert">
                  Pertinence
                </option>
                <option value="asc">
                  Prix croissant
                </option>
                <option value="desc">
                  Prix décroissant
                </option>
              </b-select>
            </b-field>
          </b-field>
        </div>
      </div>
    </section>
    <section class="section pt-0">
      <div
        v-if="filteredProductsList.length > 0"
        class="columns is-multiline"
      >
        <div
          v-for="(product, index) in filteredProductsList"
          :key="index"
          class="column is-one-quarter"
        >
          <product-card
            :product="product"
          />
        </div>
      </div>
      <div v-else>
        <p>Aucun produit trouvé.</p>
      </div>
    </section>
  </div>
</template>

<script>
import { species } from '~/data/species'
import FilterRangeDropdown from '~/components/FilterRangeDropdown'
import ProductCard from '~/components/ProductCard'

export default {
  name: 'ProductsCategory',
  components: {
    FilterRangeDropdown,
    ProductCard
  },
  data () {
    return {
      species,
      search: '',
      priceRange: [],
      heightRange: [],
      speciesCheckbox: [],
      sortSelect: null,
      productsList: this.$store.getters['products/augmentedProducts'](),
      priceRangeLimits: this.$store.getters['products/priceRangeLimits'],
      heightRangeLimits: this.$store.getters['products/heightRangeLimits']
    }
  },
  computed: {
    // Apply filters to products list
    filteredProductsList () {
      let filteredProducts
      filteredProducts = this.searchFilter(this.productsList)
      filteredProducts = this.priceFilter(filteredProducts)
      filteredProducts = this.sizeFilter(filteredProducts)
      filteredProducts = this.speciesFilter(filteredProducts)
      filteredProducts = this.sortFilter(filteredProducts)
      return filteredProducts
    }
  },
  methods: {
    // Search
    searchFilter (productsList) {
      return productsList.filter((product) => {
        return product.name.toLowerCase().includes(this.search.toLowerCase())
      })
    },
    // Price
    priceFilter (productsList) {
      return productsList.filter((product) => {
        if (product.price >= this.priceRange[0] && product.price <= this.priceRange[1]) {
          return product
        }
      })
    },
    // Size
    sizeFilter (productsList) {
      return productsList.filter((product) => {
        if (product.height >= this.heightRange[0] && product.height <= this.heightRange[1]) {
          return product
        }
      })
    },
    // Species
    speciesFilter (productsList) {
      return productsList.filter((product) => {
        if (this.speciesCheckbox.length > 0) {
          return this.speciesCheckbox.includes(product.species_id)
        } else {
          return product
        }
      })
    },
    // Sort by
    sortFilter (productsList) {
      let sortedProductsList
      switch (this.sortSelect) {
        case 'asc':
          sortedProductsList = productsList.sort((a, b) => parseFloat(a.price) - parseFloat(b.price))
          break
        case 'desc':
          sortedProductsList = productsList.sort((a, b) => parseFloat(b.price) - parseFloat(a.price))
          break
        default:
          sortedProductsList = productsList
      }
      return sortedProductsList
    }
  }
}
</script>
