
._d-none {
  display: none;
}


/* Hidden labels for accessibility */

@mixin sr-only() {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap; /* added line */
  border: 0;
}
._sr-only {
  @include sr-only();
}


/* Expand link to target div */

[data-expand-target] {
  overflow: hidden;
  position: relative;
}
[data-expand-link]:after {
  content: '';
  z-index: 10;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
