<template>
  <div class="modal-card">
    <header class="modal-card-head">
      <p class="modal-card-title">
        Panier
      </p>
      <button
        type="button"
        class="delete"
        @click="$emit('close')"
      />
    </header>
    <section class="modal-card-body">
      <div
        v-if="cartProductsList.length > 0"
      >
        <product-cart-detail
          v-for="(product, index) in cartProductsList"
          :key="index"
          :product="product"
        />
      </div>
      <div v-else>
        <p>Votre panier est vide.</p>
      </div>
    </section>
    <footer class="modal-card-foot">
      <div
        v-if="cartProductsList.length > 0"
        class="total-container"
      >
        <p class="has-text-weight-semibold is-size-5">
          <span class="mr-4">Total :</span>
          <span class="has-text-primary">{{ cartTotal | price }}</span>
        </p>
      </div>
      <button
        v-if="cartProductsList.length > 0"
        class="button is-primary"
        @click="cartConfirm()"
      >
        Acheter
      </button>
    </footer>
  </div>
</template>

<script>
import ProductCartDetail from '~/components/ProductCartDetail'

export default {
  name: 'CartModal',
  components: {
    ProductCartDetail
  },
  computed: {
    cartProductsList () {
      return this.$store.getters['cart/getCartProducts']
    },
    cartTotal () {
      return this.$store.getters['cart/getCartTotalPrice']
    }
  },
  methods: {
    cartConfirm () {
      this.$parent.close()
      this.$router.push({ path: '/confirmation' })
    }
  }
}
</script>

<style scoped>

.modal-card-head,
.modal-card-foot {
  background-color: white;
}
.modal-card-head {
  /*border: none;*/
}
.modal-card-foot {
  justify-content: space-between;
  align-items: center;
  padding-left: 4rem;
  padding-right: 4rem;
}
.total-container {
  /*text-align: center;*/
  /*width: 100%;*/
}
</style>
