<template>
  <div>
    <b-dropdown aria-role="list">
      <button
        slot="trigger"
        slot-scope="{ active }"
        class="button is-small"
      >
        <span>{{ name }}</span>
        <b-icon
          :icon="active ? 'chevron-up' : 'chevron-down'"
          size="is-small"
        />
      </button>
      <div class="px-4 py-1">
        <div class="range-text-inputs">
          <b-field>
            <b-input
              v-model.number="range[0]"
              type="number"
              :min="rangeLimits[0]"
              :max="rangeLimits[1]"
              :step="step"
              placeholder="Min"
              size="is-small"
            >
            </b-input>
          </b-field>
          <div class="separator">
            -
          </div>
          <b-field>
            <b-input
              v-model.number="range[1]"
              type="number"
              :min="rangeLimits[0]"
              :max="rangeLimits[1]"
              :step="step"
              placeholder="Max"
              size="is-small"
            >
            </b-input>
          </b-field>
          <div class="unit is-size-7">
            {{ unit }}
          </div>
        </div>
        <b-field>
          <b-slider
            v-model="range"
            :min="rangeLimits[0]"
            :max="rangeLimits[1]"
            :step="step"
          >
          </b-slider>
        </b-field>
      </div>
    </b-dropdown>
  </div>
</template>

<script>
export default {
  name: 'FilterRange',
  props: {
    name: {
      type: String,
      required: true
    },
    range: {
      type: Array,
      required: true
    },
    rangeLimits: {
      type: Array,
      required: true
    },
    step: {
      type: Number,
      default: 1
    },
    unit: {
      type: String,
      default: ''
    }
  },
  watch: {
    range () {
      this.$emit('input', this.range)
    }
  }
}
</script>

<style scoped>
.range-text-inputs {
  display: flex;
  align-items: center;
}
.range-text-inputs .field {
  flex: 1;
  margin-left: 0!important;
  margin-right: 0!important;
}
.range-text-inputs .unit {
  margin-left: .25rem;
}
.range-text-inputs .separator {
  margin: 0 .5rem;
}
</style>
