<template>
  <div class="columns">
    <div class="column is-one-third">
      <img :src="product.img" alt="">
    </div>
    <div class="column pr-6">
      <p class="title is-5 mb-3 mt-2">
        {{ product.shortName }}
      </p>
      <p class="has-text-dark">
        <span>Age :</span>
        <span class="has-text-weight-bold">{{ product.age }}</span>
        <span> ans</span>
      </p>
      <p class="has-text-dark">
        <span>Taille :</span>
        <span class="has-text-weight-bold">{{ product.height }}</span>
        <span> cm</span>
      </p>
      <p class="subtitle is-5 has-text-primary has-text-right mb-4">
        {{ product.price | price }}
      </p>
    </div>
  </div>
</template>

<script>
export default {
  name: 'ProductCartDetail',
  props: {
    product: {
      type: Object,
      default: () => {}
    }
  }
}
</script>

<style scoped>

</style>
