<template>
  <div
    class="product-card card"
    data-expand-target
  >
    <div class="card-image">
      <figure class="image">
        <img :src="product.img" alt="Placeholder image">
      </figure>
    </div>
    <div class="card-content has-text-centered">
      <p class="product-name has-text-dark mb-2 is-size-7">
        {{ product.name }}
      </p>
      <p class="product-price has-text-secondary has-text-weight-medium">
        {{ product.price | price }}
      </p>
    </div>
    <nuxt-link
      :to="'/bonsai/' + product.id"
      data-expand-link
    />
  </div>
</template>

<script>
export default {
  name: 'ProductCard',
  props: {
    product: {
      type: Object,
      default: () => {}
    }
  }
}
</script>

<style scoped>
.product-card {
  opacity: 1;
  transition: all ease .4s;
}
.product-card:hover {
  opacity: .7;
}
.product-card .product-price {
  letter-spacing: 1px;
}
</style>
