<template>
  <div>
    <nav
      class="navbar header has-shadow is-white"
      role="navigation"
      aria-label="main navigation"
    >
      <div class="links-wrapper has-text-weight-semibold">
        <nuxt-link
          role="button"
          class="cart-button navbar-item is-primary has-text-primary"
          to="/bonsai"
        >
          Nos bonsais
        </nuxt-link>
      </div>

      <div class="navbar-brand">
        <nuxt-link
          class="navbar-item is-primary has-text-dark"
          to="/"
        >
          <span class="has-text-primary has-text-weight-bold">
            Bonsai
          </span>
          &nbsp;
          <span>
            Garden
          </span>
        </nuxt-link>
      </div>

      <div class="links-wrapper right">
        <nuxt-link
          v-if="!loggedIn"
          class="cart-button navbar-item is-primary has-text-dark is-size-7 has-text-weight-semibold"
          role="button"
          to="/connexion"
        >
          Se connecter
        </nuxt-link>
        <a
          v-else
          class="cart-button navbar-item is-primary has-text-dark is-size-7 has-text-weight-semibold"
          role="button"
          @click="logout()"
        >
          Déconnexion
        </a>
        <a
          role="button"
          class="cart-button navbar-item is-primary has-text-dark"
          @click="isCartModalActive = true"
        >
          <b-icon
            icon="basket-outline"
          />
          <span
            v-if="cartItemsNumber > 0"
            class="cart-items-number has-background-primary has-text-white is-size-7"
          >
            <span>
              {{ cartItemsNumber }}
            </span>
          </span>
        </a>
      </div>

      <!--
      <div class="navbar-burger">
        <span />
        <span />
        <span />
      </div>
      -->
    </nav>

    <div class="container-fluid">
      <nuxt />
    </div>

    <b-modal
      v-model="isCartModalActive"
      has-modal-card
      trap-focus
      :destroy-on-hide="false"
      aria-role="dialog"
      aria-modal
    >
      <template #default="props">
        <cart-modal
          @close="props.close"
        />
      </template>
    </b-modal>
  </div>
</template>

<script>
import CartModal from '~/components/CartModal'

export default {
  components: {
    CartModal
  },
  data () {
    return {
      isCartModalActive: false
    }
  },
  computed: {
    loggedIn () {
      return this.$store.state.user.isLoggedIn
    },
    cartItemsNumber () {
      return this.$store.getters['cart/getCartProductsNumber']
    }
  },
  methods: {
    logout () {
      this.$store.commit('user/logout')
      this.$router.push({ path: '/' })
    }
  }
}
</script>

<style scoped>

.navbar.header .links-wrapper {
  flex: 0 0 12rem;
  display: flex;
  height: 3.25rem;
}
.navbar.header .links-wrapper.right {
  justify-content: flex-end;
}
.navbar-brand {
  margin: 0 auto;
}
.cart-button {
  position: relative;
  padding: 0 1.5rem;
}
.cart-items-number {
  position: absolute;
  bottom: .5rem;
  right: .75rem;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 1.25rem;
  width: 1.25rem;
  border-radius: 50%;
}

</style>
