<template>
  <div class="container">
    <section class="section has-text-centered py-6">
      <div class="title">
        Votre commande :
      </div>
      <div class="order-container has-text-left pt-5 pb-6">
        <product-cart-detail
          v-for="(product, index) in checkoutProductsList"
          :key="index"
          :product="product"
        />
        <div class="total-container has-text-centered">
          <p class="has-text-weight-semibold is-size-5">
            <span class="mr-4">Total :</span>
            <span class="has-text-primary">{{ checkoutTotal | price }}</span>
          </p>
        </div>
      </div>
      <button
        class="button is-primary"
        @click="checkout()"
      >
        Confirmer la commande
      </button>
    </section>
  </div>
</template>

<script>
import ProductCartDetail from '~/components/ProductCartDetail'

export default {
  name: 'CheckoutPage',
  components: {
    ProductCartDetail
  },
  middleware: [
    function ({ store, redirect }) {
      if (store.state.user.isLoggedIn === false) {
        redirect('/connexion')
      }
      if (store.state.cart.products.length === 0) {
        redirect('/')
      }
    }
  ],
  computed: {
    checkoutProductsList () {
      return this.$store.getters['cart/getCartProducts']
    },
    checkoutTotal () {
      return this.$store.getters['cart/getCartTotalPrice']
    }
  },
  methods: {
    checkout () {
      this.$store.commit('cart/clearCartProducts')
      this.$router.push({ path: '/succes' })
    }
  }
}
</script>

<style scoped>
.order-container {
  max-width: 35rem;
  margin: 0 auto;
}
</style>
