<template>
  <div class="container">
    <section class="section has-text-centered py-6">
      <div class="form has-text-left mb-5">
        <b-field label="Name">
          <b-input
            v-model="username"
            placeholder="Identifiant"
          />
        </b-field>
        <b-field label="Password">
          <b-input
            type="password"
            placeholder="Mot de passe"
            password-reveal
          />
        </b-field>
      </div>
      <a
        class="button is-primary"
        role="button"
        @click="login()"
      >
        Connexion
      </a>
    </section>
  </div>
</template>

<script>
export default {
  name: 'ConnexionPage',
  data () {
    return {
      username: null
    }
  },
  methods: {
    login () {
      this.$store.commit('user/login', this.username)
      this.$router.push({ path: '/confirmation' })
    }
  }
}
</script>

<style scoped>
.form {
  max-width: 20rem;
  margin: 0 auto;
}
</style>
