<template>
  <div>
    <b-carousel :autoplay="false">
      <b-carousel-item v-for="(slide, i) in slides" :key="i">
        <section
          class="carousel-slide hero is-medium"
          :style="{ backgroundImage: `url(${slide.image})` }"
        >
          <div class="hero-body">
            <p
              v-if="slide.title"
              class="title has-text-white"
            >
              {{ slide.title }}
            </p>
          </div>
        </section>
      </b-carousel-item>
    </b-carousel>
    <div class="container">
      <section class="section has-text-centered">
        <h1 class="is-size-4 mb-5">
          Découvrez nos Bonsaïs
        </h1>
        <div class="columns is-multiline mb-5">
          <div
            v-for="(product, index) in this.$store.getters['products/augmentedProducts'](4)"
            :key="index"
            class="column is-one-quarter"
          >
            <product-card
              :product="product"
            />
          </div>
        </div>
        <b-button
          tag="router-link"
          to="/bonsai/"
          type="is-primary"
        >
          Tous nos bonsais
        </b-button>
      </section>
    </div>
  </div>
</template>

<script>

export default {
  name: 'HomePage',
  data () {
    return {
      slides: [
        {
          title: 'Une large sélection de Bonsaïs cultivés au Japon',
          image: 'https://img-4.linternaute.com/enxWm9mKe25tY7uYq0_SmLghx8U=/1240x/smart/a7dc1517f1974cd3a7ad7dc23e410e32/ccmcms-linternaute/11032271.jpg'
        },
        { image: 'https://www.growingbonsai.net/wp-content/uploads/2017/05/kimura_gb-10.jpg' }
      ]
    }
  }
}
</script>

<style>
.carousel-slide {
  background-position: center;
  background-size: cover;
}
.hero.carousel-slide .hero-body {
  display: flex;
  justify-items: center;
  align-items: center;
  height: calc(100vh - 3.25rem);
  padding-top: 0;
  padding-bottom: 0;
}
.hero.carousel-slide .hero-body .title {
  width: 100%;
  text-align: center;
  text-shadow: 0 0 5px rgba(0, 0, 0, .5);
}
</style>
