<template>
  <div class="container">
    <section class="section has-text-centered py-6">
      <div class="title">
        Votre commande a bien été confirmée.
      </div>
      <nuxt-link
        class="button is-primary"
        to="/"
      >
        Retour au site
      </nuxt-link>
    </section>
  </div>
</template>

<script>
export default {
  name: 'SuccessPage'
}
</script>

<style scoped>

</style>
